@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
} 

@font-face {
    font-family: 'Ns Bold';
    src: url('./assets/netflix-sans-font/NetflixSans-Bold.woff2');
}

@font-face {
    font-family: 'Ns Regular';
    src: url('./assets/netflix-sans-font/NetflixSans-Regular.woff2');
}

body {
    font-family: "Ns Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }





    
